*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

 
  .container {
    margin: auto;
    width: 550px;
    height: 300px; 
    margin-bottom: 5px;
    overflow: auto;
  }
  
  .container__card {
    background: rgb(10, 1, 1);
    border-radius: 15px;
    display: flex;
    border: 2px solid rgb(74, 152, 224);
    padding: 3px;
    gap: 5px;
    margin-bottom: 10px;
    height: 270px;
  }
  
 .container__card-img img{
    border-radius: 10px;
    height: 160px;
    width: 200px;
    
  }

  .container__card-description span b {
    color: aqua;
  }

  @media screen and (max-width: 480px) {
  
  .container {
    margin: auto;
    width: 400px;
    height: 400px; 
    margin-bottom: 5px;
    
  }

    .container__card{
     display: inline-block;
     overflow: auto;
     height: 520px;
    
    }

    .container__card-img h2  {
      text-align: center;
    }
    .container__card-img img{
      border-radius: 10px;
      height: 240px;
      width: 230px;
      display: block;
      margin: auto; 
    }


  }